{
  "env": { // где будет исполняться наш код
      "browser": true,
      "es2021": true 
  },
  "extends": [ 
    //   "eslint:recommended",
    //   "plugin:react/recommended",
      "prettier"
  ],
//   "parser": "babel-eslint",
//   "parserOptions": {
//       "ecmaFeatures": {
//           "jsx": true
//       },
//       "ecmaVersion": 11, // версия стандарта JavaScript. Последний 12 (2021).
//       "sourceType": "module" // Позволяет использовать import/export
//   },
  "plugins": [
    //   "react", 
      "prettier"
  ],
//   "rules": {
//       "prettier/prettier": "error", 
//       "react/prop-types": 0 
//   }
}